In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_csv('final_data_set.csv')

In [5]:
data.head()

       date   meantemp   humidity  wind_speed  Result
0  20130101  10.000000  84.500000    0.000000       1
1  20130102   7.400000  92.000000    2.980000       1
2  20130103   7.166667  87.000000    4.633333       0
3  20130104   8.666667  71.333333    1.233333       1
4  20130105   6.000000  86.833333    3.700000       1

In [4]:
import warnings
warnings.filterwarnings('ignore')
for i in range(len(data.humidity)):
     data['date'][i]=data['date'][i].replace('-','')

In [114]:
humi = 0 
temp = 0 
wind = 0 
def dates(date):
    global humi,temp,wind
    for i in range(len(data.date)):
        if date[4:]==data['date'][i][4:]:
            temp=data['meantemp'][i]
            humi=data['humidity'][i]
            wind=data['wind_speed'][i]
    return temp,humi,wind

In [115]:
import pickle

In [116]:
with open('final.pkl','rb') as file:
    model = pickle.load(file)

In [209]:
para=dates('20131010')

In [205]:
arr = ['Thunderstorm Alert ⛈️','Not Possible to Come']

In [206]:
arr[model.predict([para])[0]]

'Thunderstorm Alert ⛈️'

In [210]:
para

(29.77777777777778, 51.11111111111112, 4.807407407407408)